.coral {
    color: rgb(255, 80, 80);
}

* {
    font-family: "Sofia", sans-serif;
}

.about-section {
    min-height: 88vh;
}

.login {
    min-height: 83vh;
}

.footer {
    /* background-color: rgb(246, 246, 250); */
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
}

.container-main {
    min-height: 88vh;
    background-color: aliceblue;
}

.footer-copywright {
    text-align: center !important;
}

.footer-body {
    z-index: 1;
    text-align: center !important;
}

@media (max-width: 767px) {
    .footer-copywright {
        text-align: center !important;
    }
    .footer-body {
        text-align: center !important;
    }
    .my-3 {
        margin-top: .2rem !important;
    }
}

.footer h3 {
    font-size: .8em;
    /* color: rgb(65, 65, 65) !important; */
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.footer-icons {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    /*     margin-top: 0.4em !important;
  margin-bottom: 0.4em !important; */
    padding: 0 !important;
}

.alert-container {
    background: aliceblue !important;
    display: flex;
    justify-content: center;
    position: fixed;
    /* Adjust this value to move the alert further down or up */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    pointer-events: none;
    /* Allows clicks to pass through */
    z-index: 1000;
    /* Ensures the alert is above other content */
}

.alert-content {
    width: 75%;
    max-width: 90%;
    /* Limits the maximum width */
    pointer-events: auto;
    /* Allows interactions with the alert itself */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow for better visibility */
    text-align: center;
}